@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Bu proje scaffoldin contoller yapısı kullanılarak CRUD işlemleri uygulaması yapılmış bir öğrenim projesidir..</p>
</div>
